*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    background: linear-gradient(180deg, #FFEB8A 0%, #AFB638 36.35%, #386050 100%);
    height: auto;
}

.createRecipe{
    height: 450px;
    width: 650px;
    background-color: #ffffff05;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(50px);
    box-shadow: 2px 2px 10px #fff;
    position: relative;
    top: 120px;
    left: 22%;
    border-radius: 40px;
}

.createRecipe h1{
    text-align: center;
    padding-top: 5px;
    font-size: x-large;
    color: #6A4104;
    font-weight: 500;
}

.createRecipe #recipe{
    height: 30px;
    width: 200px;
    border-radius: 9px;
    border: none;
    margin-top: 20px;
}
.createRecipe #recipe::placeholder{
    color: #000;
    opacity: 1;
}

.createRecipe #author{
    height: 30px;
    width: 200px;
    border-radius: 9px;
    border: none;
    margin-top: 10px;
}
.createRecipe #author::placeholder{
    color: #000;
    opacity: 1;
}

.createRecipe #date{
    height: 30px;
    width: 200px;
    border-radius: 9px;
    border: none;
    margin-top: 10px;
}

.createRecipe #cookingTime{
    height: 30px;
    width: 200px;
    border-radius: 9px;
    border: none;
    margin-top: 10px;
}

.createRecipe #cookingTime::placeholder{
    color: #000;
    opacity: 1;
}

.createRecipe #nutInfo{
    border-radius: 9px;
    margin-top: 10px;
}

.createRecipe #process{
    border-radius: 9px;
    margin-top: 10px;
}

.createRecipe #recipeImage{
    height: 40px;
    width: 200px;
    background-color: #fff;
    border-radius: 9px;
    padding-top: 10px;
    padding-left: 8px;
}

.createRecipe #category{
    height: 30px;
    width: 200px;
    border: none;
    border-radius: 9px;
    margin-top: 10px;
}

.createRecipe #details{
    border-radius: 9px;
    margin-top: 10px;
}

.createRecipe #ingredient{
    border-radius: 9px;
    margin-top: 10px;
}

.createRecipe button{
    position: relative;
    right: 100px;
}

.createRecipe .left{
    position: relative;
    left: 10%;
}

.createRecipe .right{
    position: relative;
    left: 350px;
    bottom: 390px;
}

.logout{
    height: 30px;
    width: 120px;
    color: #fff;
    background-color: #386050;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    position: relative;
    top: 20px;
    left: 90%;
}