*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.loader-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.searchDiv{
    margin-top: 25px;
}

.searchDiv #search{
    height: 30px;
    width: 220px;
    margin-left: 39%;
    border: none;
    border-radius: 9px;
    padding-left: 10px;
}

.searchDiv button{
    height: 30px;
    width: 100px;
    background-color: #386050;
    color: #fff;
    position: relative;
    right: 120px;
}