*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background: linear-gradient(180deg, #FFEB8A 0%, #AFB638 36.35%, #386050 100%);
}

.container{
    height: 742px;
}

.form{
    background-color: #ffffff05;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(25px);
    box-shadow: 2px 2px 10px  1px #333333;
    height: 500px;
    width: 800px;
    display: flex;
    position: relative;
    top: 80px;
    left: 21%;
   border-radius: 9px;
}

.form .left{
    width: 50%;
    height: 500px;
    background-image: url('/public/meal\ ten.jpg');
    background-position: center;
    background-size: cover;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}

.form .right{
    width: 50%;
    height: 500px;
}

.form .right h1{
    text-align: center;
}

.fields{
    margin-top: 40px;
    margin-left: 90px;
}

.fields input{
    height: 30px;
    width: 220px;
    border-radius: 9px;
    border: none;
    margin-bottom: 20px;
    padding-left: 10px;
}

.forgot{
    text-align: center;
}

.forgot:hover{
    color: rgba(225,0,0);
}

button{
    margin-top: 20px;
    margin-left: 155px;
    height: 30px;
    width: 90px;
    border-radius: 9px;
    border: none;
}

.dha{
    display: flex;
    padding-top: 20px;
    padding-left: 60px;
}

.dha a{
    padding-left: 10px;
    text-decoration: none;
    color: #000;
}

.dha a:hover{
    color: rgb(0, 64, 255);
    text-decoration: underline;
    font-size: large;
}

.loaderContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}